.box{
    width: 500px;
    height: 500px;
    margin: 50px;
    padding: 20px;
    background-color: antiquewhite;
    
}
.tittle, .text{
    transition-duration: 0.5s;
    opacity: 0;
}
.text{
    transition-delay: 0.5s;
}
.box:hover .tittle,.box:hover .text{
    opacity: 1;
}